# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# database
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

# logo resmi (jangan commit logo resmi milik dinas)
public/logo-aceh-utara.png
